@inherits LayoutComponentBase
<div>
    <main style="background-image: url('/images/bg-mountain.jpg'); background-size: cover; background-position: center;">
        <article class="">
            @Body
        </article>
    </main>
</div>
